/* color palette, https://kuler.adobe.com/Dim-light-color-theme-4475373 */


.header-text {
	line-height: 42px;
	color: #FF3535;
	font: 300 65px/55px "Lato";
	letter-spacing: -1.6px;
	margin-bottom: 50px;
}

.container {
	margin-top: 50px;
}

.image-desc {
	margin-bottom: 100px;
	margin-top: 20px;
	text-align: middle;
}

img {
	padding: 0 20px;
	max-height: 810px;
}

.image-title {
	margin-top: 30px;
	margin-bottom: 8px;
	font: 300 33px/30px 'Lato';
	color: #E89625;
}

.image-desc .btn {
	border-radius: 2px;
	border-width: 2px;
	border-color: #7FCCFF;
	padding-top: 5px;
	min-width: 220px;
	letter-spacing: .8px;
	margin-right: 10px;
	color: #777;
	font: 300 16px/22px 'Open Sans', sans-serif;
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}

.image-desc .btn:hover {
	background-color: #e5f5ff;
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	transition: 250ms ease-in-out;
}

.sub-desc {
	color: #777;
	margin-bottom: 17px;
	font: 300 18px/25px 'Open Sans', sans-serif;
	
}


a {
	color: #777;
	border-bottom: 1px solid #ddd;
	-webkit-transition: 250ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}

a:hover {
	background-color: #e5f5ff;
	text-decoration: none;
	color: #666;
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}




/* footer start */

.footer {
    margin-bottom: 20px;
    margin-top: 55px;
}
.branding {
    margin-top:20px;
    margin-bottom: 20px;
}

.footer img {
    height: 50px;
    margin-left: -14px;
	margin-top: -5px;
}

.footer a {
    font-size: 13px;
	padding: 3px 0;
    color: #777;
	border: none;
}

.footer a:hover {
    color: #777;
    border-bottom: none;
}

.logo:hover {
	background-color: #fff;
}

/* footer end */
