/* color palette, https://kuler.adobe.com/Dim-light-color-theme-4475373 */



.header-text {
	color: #FF3535;
	letter-spacing: -1.6px;
}

.image-desc {
	margin-bottom: 100px;
	margin-top: 20px;
	text-align: middle;
}

.image-title {
	margin-top: 30px;
	margin-bottom: 8px;
	font: 300 33px/30px 'Lato';
	color: #E89625;
}

.btn {
	border-radius: 2px;
	border-width: 2px;
	border-color: #7FCCFF;
	padding-top: 5px;
	min-width: 230px;
	letter-spacing: .8px;
	margin-right: 10px;
	color: #777;
	font: 300 16px/22px 'Open Sans', sans-serif;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}

.btn:hover {
	background-color: #e5f5ff;
	border-color: #7FCCFF;
	color: #777;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}

.btn:active, .btn.active {
    background-color: #7FCCFF;
	border-color: #7FCCFF;
	color: #fff;
	box-shadow: none;
}

.sub-desc {
	color: #777;
	margin-bottom: 17px;
	font: 300 18px/25px 'Open Sans', sans-serif;
}

.text-container {
    margin-bottom: 55px;
}

.text-container .btn {
    margin-top: 10px;
    margin-bottom: 25px;
}

a {
	color: #777;
	border-bottom: 1px solid #ddd;
	-webkit-transition: 250ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}

a:hover {
	background-color: #e5f5ff;
	text-decoration: none;
	color: #666;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}

@media (min-width:768px) {
    #see-in-action {
        min-width: 0;
        width: 100%;
    }
    

    .tablet {
        width: 600px;
        padding: 0px;
    }

    .tablet-vertical {
        height: 600px;
        padding: 0px;
    }

}

.monitor {
	padding: 0;
}

.phone {
    width: 475px;
    padding: 0px;
}

.phone-vertical {
    height: 475px;
    padding: 0px;
}


/* comparison styling start */

.monitor-raw{
    margin-bottom: 35px;
}

.phone-raw{
    margin-bottom: 23px;
}

.tablet-raw{
    margin-bottom: 17px;
}

@media (max-width:991px) {
	
	.stack-center {
		float: none!important;;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
    .reader-raw {
        margin-bottom: -34px;
    }
    
    .tablet-raw {
        margin-bottom: 18px;
    }
    
    .tablet-raw-vertical {
        margin-bottom: -5px;
    }
}
/* comparison styling end */



/* footer start */

.footer {
    margin-bottom: 20px;
    margin-top: 55px;
}
.branding {
    margin-top:20px;
    margin-bottom: 20px;
}

.footer img {
    height: 50px;
	margin-top: -5px;
}

.footer a {
    font-size: 13px;
	padding: 3px 0;
    color: #777;
	border: none;
}

.footer a:hover {
    color: #777;
    border-bottom: none;
}

.logo:hover {
	background-color: #fff;
}

/* footer end */

/* media queries start */


@media (max-width:399px) {

}

@media (min-width:400px) {

    .container {
    	margin-top: 20px;
    }
    
    .text-container {
        text-align: center;
    }
    
    .header-text {
        text-align: center;
    	margin-top: -11px;
    	font: 300 55px/50px "Lato";	
		margin-bottom: 25px;
    }

    
}
@media (min-width:768px) {
    .text-container {
        text-align: left;
    }
    
    img {
    	padding: 0 20px;
    }
    
    .header-text {
        text-align: left;
    	width: 3em;
    	margin-top: -11px;
		font: 300 65px/55px "Lato";
		margin-bottom: 45px;
    }
    
    .container {
    	margin-top: 50px;
    }
    

}

@media (min-width:992px) {
}

@media (min-width:1200px) {
}

/* media queries end */




